{% extends "base_assessment.html" %}

{% block content %}
<div class="container-xl">
    <div class="mb-5 mt-3">
        <h2 class="page-title display-5">操作说明</h2>
    </div>

    <div class="row row-cards">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="markdown">
                        <h3 class="mt-4">1. 登录系统</h3>
                        <p class="fs-3 text-muted">使用分配给您的用户名和密码登录本系统。若您忘记密码，请联系系统管理员重置。</p>

                        <h3 class="mt-4">2. 选择测评项目</h3>
                        <p class="fs-3 text-muted">登录成功后，您将在左侧导航菜单中看到可用的中层干部测评项目列表，展示内容是您需要参与的所有测评项。</p>

                        <h3 class="mt-4">3. 填写测评评价</h3>
                        <p class="fs-3 text-muted">每个测评项中都有对应的测评说明，请您认真阅读，并根据您对被测评干部的了解进行客观、公正的评价。</p>

                        <h3 class="mt-4">4. 提交测评结果</h3>
                        <p class="fs-3 text-muted">在每一项完成测评后，请点击右上角的“保存”按钮进行保存。</p>

                        <h3 class="mt-4">5. 测评结束操作</h3>
                        <p class="fs-3 text-muted">点击“操作结束”进入最后结果确认页面，确认无误后点击“确认提交”按钮，提交后，您将无法再次修改测评结果。</p>

                        <div class="alert alert-info mt-4" role="alert">
                            <div class="d-flex">
                                <div>
                                    <i class="ti ti-info-circle fs-2 me-2"></i>
                                </div>
                                <div>
                                    <h4 class="alert-title">开始测评</h4>
                                    <div class="text-muted">请点击左侧列表页中展示的测评项开始测评吧！</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}